body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* background: #f2adab; */
}

.box{
    position: fixed;
    left: calc(50vw - 40vmin);
    top: calc(50vh - 27.5vmin);
    width: 90vmin;
    height: 75vmin;
}

svg{
    overflow: visible;
}

#snow {
    pointer-events: none;
}
.snow-clone{
    opacity: 0;
}
/* Flying santa*/
.santa-container {
  height: 480px;
  width: 350px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: plane-movement;
}

@keyframes plane-movement {
  0% {
    opacity: 1;
    left: 100vw;
    top: 20%;
  }
  50% {
    opacity: 1;
    left: 50vw;
    top: 40%;
  }
  100% {
    opacity: 1;
    left: -100vw;
    top: 20%;
  }
}
svg {
  position: absolute;
  top: 0;
  left: 0;
}
.plane {
  position: relative;
  -webkit-animation: float 3s infinite;
  animation: float 3s infinite;
}
@-webkit-keyframes float {
  50% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
}
@keyframes float {
  50% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
}
.hand {
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  -webkit-animation: wave 1.5s infinite;
  animation: wave 1.5s infinite;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
.blade {
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  -webkit-transform-origin: 50% 54%;
  -ms-transform-origin: 50% 54%;
  transform-origin: 50% 54%;
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}
@-webkit-keyframes wave {
  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}
@keyframes wave {
  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}
@media screen and (min-width: 451px) {
  a {
    font-size: 20px;
    padding: 8px 12px 8px 12px;
  }
}

@media screen and (max-width: 450px) {
  a {
    font-size: 14px;
    padding: 5px 8px 5px 8px;
  }
}

/*link fb */
.user-link {
    position: absolute; /* Đặt vị trí tuyệt đối */
    top: 10px;          /* Góc trên */
    left: 10px;         /* Góc trái */
    color: #000000;     /* Màu đen */
    font-size: 1rem;    /* Kích thước nhỏ */
    z-index: 999;       /* Luôn nằm trên cùng */
    text-decoration: none; /* Xóa gạch chân mặc định của link */
}